.advantage__cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.advantage__card-item {
  width: 256px;
  height: 256px;
  background: linear-gradient(135deg, $primaryColor 0%, #6FDCFF 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.advantage__card-item:hover {
  background: linear-gradient(135deg, #1D2427 0%, #1D2427 100%);

  .advantage__card-title {
    display: none;
  }

  .advantage__card-icon {
    display: block;
    width: 32px;
  }

  .advantage__card-description {
    display: block;
    text-align: center;
    padding: 0 20px;
  }
}


.advantage__card-title {
  padding-top: 20px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.advantage__card-description {
  display: none;
}




