.brief {
  height: 510px;
  background: 490px no-repeat;
  background-position: 80%;
  margin-top: 70px;
}

.brief-action {
  font-weight: 700;
  line-height: 20px;
  padding-bottom: 20px;
}

.brief-helper {
  max-width: 457px;
  padding-bottom: 50px;
}