.reviews {
}

.reviews-btn {
  display: flex;
  justify-content: center;
  padding: 50px 0;
}

.feedback-box {
  padding-top: 10px;
}

.feedback-item {
  padding: 25px;
  width: 490px;
  height: 250px;
  background: url('../../src/partials/images/atoms-bg-blue.png') no-repeat;

  .underline {
    margin: 10px 0;
  }
}

.feedback-item__name {
  font-weight: 700;
}

.feedback-item__position {
  font-weight: 400;
  font-size: 14px;
  color: #9B9B9B;
}

.feedback-header {
  display: flex;
  justify-content: space-between;
}

.feedback-column {
}

.feedback-desc {
  padding-top: 30px;
}

.my-swiper {

  .swiper-pagination-bullet {
    width: 32px;
    height: 0px;
    text-align: center;
    border: 1px solid #454545;
    color: #454545;
    background: #454545;
    border-radius: 0;
  }

  .swiper-pagination-bullet-active {
    color: #01BCF7;
    background: #01BCF7;
    border: 1px solid #01BCF7;
    border-radius: 0;
  }
}
