*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    scroll-behavior: smooth;
}

@font-face {
    font-family: "Montserrat";
    src: local("Montserrat"), url(./fonts/Montserrat-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Montserrat";
    font-weight: 300;
    src: local("Montserrat"), url(./fonts/Montserrat-Light.ttf) format("truetype");
}

@font-face {
    font-family: "Montserrat";
    font-weight: 500;
    src: local("Montserrat"), url(./fonts/Montserrat-Medium.ttf) format("truetype");
}

@font-face {
    font-family: "Montserrat";
    font-weight: 600;
    src: local("Montserrat"), url(./fonts/Montserrat-SemiBold.ttf) format("truetype");
}

@font-face {
    font-family: "Montserrat";
    font-weight: 700;
    src: local("Montserrat"), url(./fonts/Montserrat-Bold.ttf) format("truetype");
}

body {
    margin: 0;
    padding: 0;
    color: $textColor;
    background-color: $backgroundColor;
    font-family: "Montserrat", sans-serif;
    -webkit-font-smoothing: antiliased;
    -moz-osx-font-smoothing: grayscale;
}

section {
    padding: 100px;

    @media (max-width: $breakPoint) {
        padding: 50px 20px;
    }
}
