*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    scroll-behavior: smooth;
}

.layout {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

@font-face {
    font-family: "Montserrat";
    src: local("Montserrat"), url(./fonts/Montserrat-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Montserrat";
    font-weight: 300;
    src: local("Montserrat"), url(./fonts/Montserrat-Light.ttf) format("truetype");
}

@font-face {
    font-family: "Montserrat";
    font-weight: 500;
    src: local("Montserrat"), url(./fonts/Montserrat-Medium.ttf) format("truetype");
}

@font-face {
    font-family: "Montserrat";
    font-weight: 600;
    src: local("Montserrat"), url(./fonts/Montserrat-SemiBold.ttf) format("truetype");
}

@font-face {
    font-family: "Montserrat";
    font-weight: 700;
    src: local("Montserrat"), url(./fonts/Montserrat-Bold.ttf) format("truetype");
}

@font-face {
    font-family: "Libre Barcode 39 Text";
    src: local("Libre Barcode 39 Text"), url(./fonts/LibreBarcode39Text-Regular.ttf) format("truetype");
}

body {
    margin: 0;
    padding: 0;
    color: $textColor;
    background-color: $backgroundColor;
    font-family: "Montserrat", sans-serif;
    -moz-osx-font-smoothing: grayscale;
}

.container {
    width: $containerWidth;
    margin: 0 auto;
}

.logo {
    font-family: 'Libre Barcode 39 Text', sans-serif;
    font-size: 36px !important;
    font-weight: 400 !important;
    text-transform: uppercase;
    font-variant:none !important;
}
