/* The navigation bar */
.navbar {
    overflow: hidden;
    height: 150px;
    background: #1a1a1a;
    box-shadow: 0px 0px 5px rgba(10, 10, 10, 0.5);
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    display: flex;
    align-items: center;
}

.navbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/* Links inside the navbar */
.navbar a {
    display: block;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    font-variant: small-caps;
    color: #ffffff;
    text-decoration: none;
}

.navbox-item {
    display: flex;
    align-items: center;
}

.phone {
    background-image: url("../../src/partials/images/phone.svg");
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.menu {
    background-image: url("../../src/partials/images/hamburger.svg");
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.crossline {
    width: 50px;
    height: 0px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    transform: rotate(90deg);
    margin-left: 20px;
    margin-right: 20px;
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    border: none;
    position: relative;
    outline: none;
}

select:after {
    content: "";
    display: block;
    width: 25px;
    height: 25px;
    position: absolute;
    right: 5px;
    top: 5px;
}

.language {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    font-variant: small-caps;
    color: #ffffff;
    background-color: $backgroundColor;
    border: none;
    cursor: pointer;
}
