.container {
    width: $containerWidth;
    margin: 0 auto;
}

.slideWrap {
    min-height: 100vh;
    width: 100%;
    display: flex;
    padding-top: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    @media (max-width: 760px) and (orientation: landscape) {
        min-height: 110vh;
        padding: 70px 20px;
    }

    @media (max-width: 760px) and (orientation: portrait) {
        min-height: 80vh;
        padding: 70px 20px;
    }
}

.textWrap {
    max-width: 840px;

    h2 {
        padding-bottom: 30px;
        color: $white;
        margin-bottom: 10px;

        font-weight: 700;
        font-size: 4em;
        line-height: 78px;

        @media (max-width: $breakPoint) {
            font-size: 2.5em;
        }
    }

    p {
        padding-bottom: 40px;
        color: $white;
        font-style: normal;
        max-width: 628px;
        font-weight: 400;
        font-size: 1rem;
        line-height: 24px;
    }
}

.line {
    margin-bottom: 40px;
    width: 200px;
    height: 10px;
    background: linear-gradient(90deg, #008ebb 0%, #00c2ff 100%);
}

//
$prime: #01c1fe;
$second: #fff;

button {
    margin-top: 40px;
}

svg {
    position: absolute;
    top: -4000px;
    left: -4000px;
}
#gooey-button {
    padding: 1.7rem;
    font-size: 1.2rem;
    font-weight: 700;
    border: none;
    color: $second;
    filter: url("#gooey");
    position: relative;
    background-color: $prime;
    text-transform: uppercase;

    &:focus {
        outline: none;
    }

    &:hover {
        cursor: pointer;
        color: #eafaff;
    }

    .bubbles {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;

        .bubble {
            background-color: $prime;
            border-radius: 100%;
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            z-index: -1;

            @for $bubble from 1 through 10 {
                &:nth-child(#{$bubble}) {
                    $size: 25px;
                    left: (random(90) + 10) + px;
                    width: $size;
                    height: $size;
                    animation: move-#{$bubble} #{3 + $bubble * 0.02}s infinite;
                    animation-delay: #{$bubble * 0.2}s;
                }
            }
        }
    }
}
@for $bubble from 1 through 10 {
    @keyframes move-#{$bubble} {
        0% {
            transform: translate(0, 0);
        }
        99% {
            transform: translate(0, -(random(80) + 50) + px);
        }
        100% {
            transform: translate(0, 0);
            opacity: 0;
        }
    }
}
