.container {
    width: $containerWidth;
    margin: 0 auto;
}

.slideWrap {
    min-height: 100vh;
    width: 100%;
    display: flex;
    padding-top: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media (max-width: 760px) and (orientation: landscape) {
        min-height: 110vh;
        padding: 70px 20px;
    }

    @media (max-width: 760px) and (orientation: portrait) {
        min-height: 80vh;
        padding: 70px 20px;
    }
}

.textWrap {
    max-width: 840px;

    h2 {
        padding-bottom: 30px;
        color: $white;
        margin-bottom: 10px;

        font-weight: 700;
        font-size: 4em;
        line-height: 78px;

        @media (max-width: $breakPoint) {
            font-size: 2.5em;
        }
    }

    p {
        padding-bottom: 40px;
        color: $white;
        font-style: normal;
        max-width: 628px;
        font-weight: 400;
        font-size: 1rem;
        line-height: 24px;
    }
}

.line {
    margin-bottom: 40px;
    width: 200px;
    height: 10px;
    background: linear-gradient(90deg, #008ebb 0%, #00c2ff 100%);
}
