.products {
  position: relative;
}

.products__title {
  padding-top: 60px;
  padding-bottom: 20px;

  font-weight: 700;
  font-size: 36px;
  line-height: 44px;

  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: $white;

  background: url("../../src/partials/images/rectangle.svg") no-repeat;
  background-position: left;
}

.products__description {
  padding-bottom: 20px;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  color: $white;
}

.underline {
  width: 64px;
  border: 2px solid $primaryColor;
  margin-bottom: 50px;
}
















